<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
    <link rel="stylesheet" href="/static/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.jpg">
</head>
<body class="home">
    <h1>BOOK APPOINTMENT</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flash-messages">
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="client-name">
        <form class="form" method="post" action="/appointment">
            <input type="text" name="first-name" id="fName" placeholder="First Name">
            <input type="text" name="last-name" id="lName" placeholder="Last Name"><br>
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="tel" name="number" id="number" placeholder="Phone Number"><br>
            <input type="date" name="date" id="date" ><br>
            <select name="service" id="service">
                <option class="option" value="Hair cut">Barber Shop</option>
                <option class="option" value="Hair Dressing">Hair Dressing</option>
                <option class="option" value="Spa and Massage">Spa and Massage</option>
                <option class="option" value="Manicure and Pedicure">Manicure and Pedicure</option>
            </select><br>
            <button class="submit">BOOK APPOINTMENT</button>
        </form>
    </div>
    <ul>
        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
      <script src="/static/index.js"></script>
</body>
</html>