<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spencer Care Lounge</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.jpg">
</head>
<body>
    

<div class="container">
    <h1>Spencer Care Lounge</h1>
    <p>Experience the best hair care and body treatment that leaves you feeling revitalized and re-energized.</p>
    <a href="appointment.html">BOOK APPOINTMENT</a>
  </div>
  
  <div class="blank"></div>
  
  <div class="container second">
    <div class="item">
      <div class="img img-first"></div>
      <div class="card">
        <h3>Barber Shop</h3>
        <p>The goal is to give you a hair care that turns heads like a porsche.</p>
        <a href="appointment.html">BOOK APPOINTMENT</a>
      </div>
    </div>
    <div class="item">
      <div class="img img-second"></div>
      <div class="card">
        <h3>Hair Dressing</h3>
        <p>Exploring the beauty that comes with the best attention given to your hair.</p>
        <a href="appointment.html">BOOK APPOINTMENT</a>
      </div>
    </div>
    <div class="item">
      <div class="img img-third"></div>
      <div class="card">
        <h3>Spa and Massage</h3>
        <p>Give your body a treatment that will make you question reality.</p>
        <a href="appointment.html">BOOK APPOINTMENT</a>
      </div>
    </div>
    <div class="item">
      <div class="img img-forth"></div>
      <div class="card">
        <h3>Manicure and Pedicure</h3>
        <p>Your hands and feet will leave feeling magical and magnificent.</p>
        <a href="appointment.html">BOOK APPOINTMENT</a>
      </div>
    </div>

  </div>
  
  <div class="blank"></div>
  <div class="container third">
    <p class="foot">Experience the Ultimate Grooming Oasis at Spencer Care Lounge.</p><br>
    <p class="foot">
      Our skilled barbers and Hair Dressers are dedicated to crafting precision styles that not only reflect your unique class but also make heads turn. Elevate your experience further with our exclusive massage center, where expert therapists provide invigorating treatments to melt away stress and leave you feeling rejuvenated. At Spencer Care Lounge, we don't just cut hair; we create masterpieces. Immerse yourself in a haven of tranquility, embrace style, and leave our shop feeling refreshed, confident, and ready to conquer the world.
    </p>
    <ul>
      <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
  </div>
 <script src="/static/index.js"></script> 
</body>
</html>